{# @var craft \craft\web\twig\variables\CraftVariable #}

{% import "_includes/forms" as forms %}

{{ forms.textareaField({
    label: 'Contents of the access key file',
    instructions: 'Instructions for generating the access key file can be found [here](https://github.com/internetztube/craft-spreadsheet-translations#google-api).',
    id: 'keyFileContents',
    name: 'keyFileContents',
    value: settings['keyFileContents'],
    rows: 8,
    cols: 50,
    wrap: 'soft',
    class: 'code fullwidth',
    placeholder: '{
  "type": "service_account",
  "project_id": "PROJECT_ID",
  "private_key_id": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
  "private_key": "-----BEGIN PRIVATE KEY-----\nXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX\nXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX\nXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX\n-----END PRIVATE KEY-----\n",
  "client_email": "XXXXXXXXXX@ACCOUNT_HANDLE.iam.gserviceaccount.com",
  "client_id": "XXXXXXXXXXXXXXXXXXXXX",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/XXXXXXXXXXXXXXXXXXXXX"
}'
}) }}

{{ forms.textField({
    label: 'Sheet Name Prefix in Google Spreadsheets',
    instructions: 'This value will be slugified.  The translation category will be appended directly to it.',
    id: 'sheetContentTabName',
    name: 'sheetContentTabName',
    value: settings['sheetContentTabName'],
    class: 'code',
    placeholder: 'Translations'
}) }}


{{ forms.textField({
    label: 'Spreadsheet Id',
    instructions: '',
    id: 'spreadSheetId',
    name: 'spreadSheetId',
    value: settings['spreadSheetId'],
    class: 'code',
    placeholder: 'XXXXXXXXXXXXXXXXXXXXXXXXXXX-XXXXXXXXXXXXXXXX',
}) }}

{{ forms.textField({
    label: 'Plugin Name in CP Sidebar',
    instructions: '',
    id: 'sidebarName',
    name: 'sidebarName',
    value: settings['sidebarName'],
    placeholder: 'Spreadsheet Translations'
}) }}

<div class="btn js-test-config-button">{{ 'Test credentials' | t('spreadsheet-translations') }}</div>
<span id="graphic" class="spinner hidden js-test-config-spinner"></span>
<p class="js-test-config-result"></p>

{% do view.registerAssetBundle('internetztube\\spreadsheetTranslations\\assetbundles\\SettingsAssetBundle') %}
